<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">

<h3>Country Master</h3>
<hr>
<p class="h4 mb-4">Save Country</p>

<form action="#" th:action="@{/master/country/save}"
				th:object="${country}" method="POST">

	<div class="alert alert-warning alert-dismissible" th:if="${#fields.hasErrors('*')}">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
    	<strong>Warning!</strong> This alert box could indicate a warning that might need attention.
  	</div>
	<input type="hidden" th:field="*{id}">
 		<input type="text" th:field="*{countryName}"
			class="form-control mb-4 col-4" placeholder="Country name">
		<span th:if="${#fields.hasErrors('countryName')}" class="help-block" th:errors="*{countryName}"></span>
 
	<button type="submit" class="btn btn-info col-2" >Save</button>
</form>
<hr>
<a th:href="@{/master/country/list}" >Back to the Country List</a>
</div>
	<div th:replace="fragments/footer :: footer"/>

</body>
</html>