<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer>
<!--         this is footer -->
<!--         © 2017 mkyong.com -->
<!--             <span sec:authorize="isAuthenticated()"> -->
<!--                 | Logged user: <span sec:authentication="name"></span> | -->
<!--                 Roles: <span sec:authentication="principal.authorities"></span> | -->
<!--                 <a th:href="@{/logout}">Sign Out</a> -->
<!--             </span> -->
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/utils/dataTable/jquery.dataTables.min.js}"></script>
<script th:src="@{/utils/dataTable/dataTables.bootstrap4.min.js}"></script>
<!-- <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> -->
<!-- <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script> -->
<script>
$(document).ready (function(){
	$('#dataTable').DataTable();
	$(".alert-dismissible").fadeTo(7000, 500).slideUp(500, function(){
	    $(".alert-dismissible").alert('close');
	});
});
</script>

<!--         <script type="text/javascript" -->
<!--                 src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

        </footer>
    </div>

</div>
</body>
</html>